<div class="well">
<%= link_to 'Back to Index', articles_path %>
</div>

<p class="lead">
<div class="col-md-1">
Text :
</div>
<div class="col-md-11 well">
<%= @article.title %>
</div>
</p>
<p class="lead">
<div class="col-md-1">
Title :
</div>
<div class="col-md-11 well">
<%= @article.text %>
</div>
</p>
